.ob__signupPassword {
    justify-content: center;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
    height: calc(100vh - 90px);
    & > form {
      width: 100%;
      text-align: center;
    }
    &_subtitle {
      text-align: center;
    }
  }
  