.ob__banner {
  background: url("/banner.jpg") left;
  background-size: cover;
  border-radius: 24px;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}
